<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>

        <sv_region_pricing>

            <general>

                <enabled>1</enabled>

                <default_region/>

                <enable_logging>0</enable_logging>

            </general>

        </sv_region_pricing>

    </default>

</config>